a{
    cursor: pointer;
    color: #000;
    text-decoration: underline;
}

a:active{
    color: #8FB4C7;
}

.material{
    box-shadow: 0 0 3px #505050!important;
    border: none;
    outline: none;
}
